**/__pycache__/
.vscode/
.ipynb_checkpoints/
.DS_Store

#prevent files in data dir from uploading to repo
data/adoptions/*
data/ami_data/*
data/inputs/*
data/mappings/*
data/premise_data/*
data/temp/*
data/temp_sim_plus/*
!data/temp_sim_plus/.gitkeep
data/saved_sessions_plus/*
!data/saved_sessions_plus/.gitkeep
data/opendss_model/*
!data/opendss_model/.gitkeep
ts.ipynb
saved_session.json
documentation
dev

#prevent files in logs dir from uploading to repo
logs/sim_plus/*
!logs/sim_plus/.gitkeep
