**/__pycache__/
.vscode/
.ipynb_checkpoints/
.DS_Store

#prevent files in data dir from uploading to repo
data/adoptions/*
data/ami_data/*
data/inputs/*
data/mappings/*
data/premise_data/*
data/temp/*
data/temp_sim_plus/*
examples/*
!data/temp_sim_plus/.gitkeep

#prevent files in logs dir from uploading to repo
logs/sim_plus/*
!logs/sim_plus/.gitkeep


inputs/opendss_model/MEAD2104/*
